$blue: #2196f3;
$grey: #afb1b8;
$black: #212121;
$red: #ff6633;
$golden: #ffd700;
$yellow: #ffff33;
$lightGrey: #cccccc;
$aquamarine: #8cf2d0;
$main-font: "Montserrat", sans-serif;
// font-family: 'Caveat', cursive;
// font-family: 'Montserrat', sans-serif;
