.hero__text {
  text-align: center;
  padding: 118px 0;
  &-title {
    margin: 0 auto;
    font-family: "Kalam", cursive;
    font-size: 44px;
    text-align: center;
    letter-spacing: 0.06em;
    line-height: 60px;
    color: white;
    max-width: 700px;
    margin-bottom: 30px;
  }
  &-main {
    margin: 0 auto;
    color: white;
    line-height: 120px;
    font-size: 120px;
    font-weight: 600;
    max-width: 700px;
    margin-bottom: 50px;
  }
}
